@model IEnumerable<RenderService.Models.MeasuredValue>

@{
    ViewBag.Title = "Выбросы";
}

<h2>Результаты</h2>

<table class="table">
    <tr>
        <th>Состояние Датчика</th>
        <th>Параметр</th>
        <th>Значение</th>
        <th>Время (начальное - конечное)</th>
        <th>№ источника</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Parameter.Sensor.State)
    </td>
    <td>
        Код: @Html.DisplayFor(modelItem => item.Parameter.Code)
        <br />Единицы измерения:  @Html.DisplayFor(modelItem => item.Parameter.Unit)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Value)
    </td>
    <td>
        Начало измерения: @Html.DisplayFor(modelItem => item.TimeStampStart)
        <br />Конец измерения: @Html.DisplayFor(modelItem => item.TimeStampEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Parameter.Sensor.Source.PNIV)
    </td>
</tr>
}

</table>
